$animation-duration: .3s;

.sidebar {
  width: 300px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: #eee;
  transform: translateX(-100%);
  transition: transform $animation-duration ease-out;
  z-index: 12;
  padding: 20px 15px;

  &-open {
    transform: translateX(0);
  }

  &__overlay {
    z-index: 11;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    background: black;
    transition: opacity $animation-duration ease-out, visibility $animation-duration step-end;

  }

  &-open + &__overlay {
    opacity: .3;
    visibility: visible;
    transition: opacity $animation-duration ease-out, visibility $animation-duration step-start;
  }
}
