<div class="header-left">
  <img class="logo" (click)="onLogoClick()" src="../../../assets/images/menu.svg" alt="">
  <h3 class="logo-title" routerLink="/">Training App</h3>
  <div class="access-hint" [ngSwitch]="profile.isAdmin">
    <span *ngSwitchCase="true">(Admin Access)</span>
    <span *ngSwitchCase="false">(Default Access)</span>
    <span *ngSwitchDefault>(Unknown Access)</span>
  </div>
</div>
<div class="header-right">
  <a class="user-photo-wrapper" routerLink="/profile">
    <img *ngIf="profile.avatar" [src]="profile.avatar" alt="" class="user-photo">
    <div *ngIf="!profile.avatar" class="user-photo-placeholder">?</div>
  </a>
</div>
