:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 15px;
  background: #3f51b5;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
  color: white;
  flex: 0 0 auto;
}

.logo {
  height: 25px;
  margin-right: 15px;
  cursor: pointer;
}

.logo-title {
  margin: 0;
  cursor: pointer;
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
}

.user-photo-wrapper {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  color: inherit;
  text-decoration: none;
}

.user-photo,
.user-photo-placeholder {
  width: 100%;
  height: 100%;
}

.user-photo-placeholder {
  background: #00e676;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.access-hint {
  margin-left: 10px;
  font-style: italic;
  font-size: .9rem;
}
