<h3>
  Users List
</h3>
<div class="form-group">
  <div class="form-control-wrapper">
    <input (input)="setFilteredUsers($event.target.value)" placeholder="Search" appAutoFocusCustom class="form-control">
    <div class="form-control__border"></div>
  </div>
</div>

<div>
  <app-loader *ngIf="isLoading"></app-loader>
</div>

<ul class="user-container" *ngIf="!isLoading">
  <li *ngFor="let user of filteredUsers">
    <a routerLink="/users/{{user.id}}">
      <span class="badge">{{user.id}}</span> {{ user.name | paling }}
      <div class="user-banned-badge" *ngIf="user.banned"></div>
    </a>
  </li>
</ul>

<button class="btn btn-float btn-primary btn-add-user" routerLink="/users/new">
  +
</button>
