:host {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
}

.user-container {
  margin: 0 0 2em;
  list-style-type: none;
  padding: 0;
  width: 18em;

  li {
    position: relative;
    background-color: white;
    margin: .5em;
    display: block;
    border-radius: 4px;
    overflow: hidden;

    a {
      text-decoration: none;
      color: inherit;
      height: 2em;
      display: block;
      padding-right: 25px;
    }

    &:hover {
      color: #607D8B;
      left: .1em;
    }
  }

  .text {
    position: relative;
    top: -3px;
  }

  .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    height: 100%;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
    min-width: 15px;
  }
}

.btn-add-user {
  position: fixed;
  right: 25px;
  bottom: 25px;
  font-weight: 600;
  font-size: 1.25rem;
  transform: rotate(0deg);
  transition: transform .3s ease;

  &:hover {
    transform: rotate(90deg);
  }
}

.user-banned-badge {
  position: absolute;
  right: 10px;
  top: 50%;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: deeppink;
  transform: translateY(-50%);
}
