<div>
  <app-loader *ngIf="isLoading"></app-loader>
</div>
<div *ngIf="!isLoading">
  <h3>User Profile</h3>
  <div class="form-group">
    <select [value]="selectedUser.id" (input)="selectUser($event.target.value)">
      <option value="">Select</option>
      <option *ngFor="let user of users" [value]="user.id">{{ user.name }}</option>
    </select>
  </div>
</div>
<div class="card" *ngIf="selectedUser">
  <h3>
    {{ selectedUser.name }}
  </h3>
  <div class="form-group">
    <app-toggler [value]="selectedUser.banned" (toggle)="setBanned($event)" label="Banned"></app-toggler>
  </div>
</div>
