<div class="card profile-card relative">
  <div *ngIf="submitting" class="layer-transparent">
    <app-loader></app-loader>
  </div>
  <form (ngSubmit)="submit()" [formGroup]="authForm">
    <h3>Login Form</h3>
    <div class="form-group">
      <span class="grow-3">Login: </span>
      <div class="form-control-wrapper grow-9">
        <input type="text" formControlName="username" name="username" class="form-control" placeholder="Enter" required appAutoFocusCustom>
        <div class="form-control__border"></div>
      </div>
    </div>
    <div class="form-group">
      <span class="grow-3">Password: </span>
      <div class="form-control-wrapper grow-9">
        <input type="password" formControlName="password" class="form-control" placeholder="Enter" required>
        <div class="form-control__border"></div>
      </div>
    </div>
    <div class="error" *ngIf="submitError">
      {{ submitError }}
    </div>
    <div class="btn-block pull-right">
      <button class="btn btn-primary" type="submit" [disabled]="!authForm.valid || submitting">Login</button>
    </div>
  </form>
</div>
