<label class="toggler-wrapper">
  <div class="toggler" >
    <input [ngModel]="value" (change)="onChange()" type="checkbox" class="toggler-input">
    <div class="toggler-circle"></div>
  </div>
  <div class="toggler-label">{{ label }}</div>
</label>
