.toggler-wrapper {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  height: inherit;
  cursor: pointer;
  margin: 5px 0;
}

.toggler {
  position: relative;
  width: 36px;
  height: 14px;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: rgba(0,0,0,.38);
  margin-right: 5px;
}

.toggler-input {
  height: 0;
}

.toggler-circle {
  position: absolute;
  transform: translate3d(0,0,0);
  transition: transform 80ms linear, background-color 160ms ease;
  cursor: pointer;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  background-color: white;
  top: -3px;
  left: 0;

}

.toggler-input:checked + .toggler-circle {
  transform: translate3d(16px,0,0);
  background-color: #e91e63;
}
