.btn {
  box-sizing: border-box;
  user-select: none;
  cursor: pointer;
  outline: 0;
  border: none;
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  margin: 0;
  min-width: 88px;
  padding: 8px 16px;
  border-radius: 2px;
  transition: background-color .3s ease, color .3s ease;
  text-decoration: none;
  display: inline-block;
}

.btn:hover {
  background-color: #757575;
}

.btn.btn-primary {
  background-color: #5E35B1;
  color: white;
}

.btn.btn-primary:hover {
  background-color: #311B92;
}

.btn-block .btn {
  margin-left: 10px;
}

.btn-float {
  width: 56px;
  height: 56px;
  padding: 0;
  min-width: 0;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  border-radius: 50%;
}

.btn[disabled] {
  cursor: not-allowed;
  opacity: .7;
}
