.card {
  display: block;
  position: relative;
  background: white;
  padding: 24px;
  border-radius: 5px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);

  h3:first-child {
    margin-top: 0;
  }
}

.layer-transparent {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(177, 175, 175, 0.4);
  z-index: 1;
}
