.form-group {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.form-control-wrapper {
  position: relative;
  display: inline-block;
}

.form-control {
  border: none;
  border-bottom: 1px solid #b1b1b1;
  padding: 5px 0px;
  background: transparent;
  font-size: 1rem;
  outline: none;
  width: 100%;
}

.form-control + .form-control__border {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  background: #3f51b5;
  height: 2px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .3s ease;
}

.form-control:focus + .form-control__border {
  transform: scaleX(1);
}
