<div class="default-layout">
  <app-header (logoClick)="toggleSidebar(!isSidebarOpen)" *ngIf="isLayoutShown"></app-header>
  <div class="content">
    <app-nav-sidebar [open]="isSidebarOpen" (clickOutside)="toggleSidebar(false)" *ngIf="isLayoutShown"></app-nav-sidebar>
    <div class="content">
      <app-counter></app-counter>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
