<app-sidebar [open]="open" (clickOutside)="onClickOutside()">
  <nav class="header-nav">
    <a routerLink="/users" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Users</a>
    <a routerLink="/banned" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" appOnlyAdmin>Banned users</a>
  </nav>
</app-sidebar>
