.header-nav {
  a {
    padding: 5px 8px;
    margin-bottom: 10px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    position: relative;
    display: block;

    &:before {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      background: #00e676;
      width: 100%;
      height: 2px;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform .3s ease;
    }

    &:hover::before,
    &.active::before {
      transform: scaleX(1);
    }
  }
}

.header-nav a:hover::before,
.header-nav a.active::before {
  transform: scaleX(1);
}
