<h4 class="m-t-0">Ngrx counter example</h4>
<div>
  <button class="counter-btn" (click)="minus()" [disabled]="loading$ | async">-</button>
  <span class="counter-value">{{ clicksCount$ | async }}</span>
  <button class="counter-btn" (click)="plus()" [disabled]="loading$ | async">+</button>
  <button class="counter-btn" (click)="plusAsync()" [disabled]="loading$ | async">+</button>
</div>
