:host {
  display: inline-flex;
  margin: 1rem auto;
  align-items: center;
  flex-direction: column;
}

.counter-btn {
  color: white;
  border-radius: 50%;
  border: none;
  width: 30px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  height: 30px;
  background: #5E35B1;
  font-size: 1.25rem;
  line-height: 1;
  margin: 0 .25rem;
  cursor: pointer;
  vertical-align: middle;

  &[disabled] {
    opacity: .7;
    cursor: not-allowed;
  }
}

.counter-value {
  min-width: 30px;
  text-align: center;
  display: inline-block;
}
