<div class="card profile-card">
  <h3>User Profile</h3>
  <div class="hint">In the future here will be huge perfect form</div>
  <div class="form-group">
    <span class="grow-3">Avatar: </span>
    <div class="form-control-wrapper grow-9">
      <textarea [value]="profile.avatar" name="avatar" class="form-control" placeholder="Enter" rows="3"
        appAutoFocusCustom #avatar></textarea>
      <div class="form-control__border"></div>
    </div>
  </div>
  <div class="btn-block pull-right">
    <button class="btn btn-default" (click)="goBack()">Cancel</button>
    <button class="btn btn-primary" (click)="save(avatar.value)">Save</button>
  </div>
</div>
