.page-not-found {
  background: url('/assets/images/404.png');
  background: url('/assets/images/404-cover.jpg');
  background: url('/assets/images/404-2.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

.link-home {
  height: 50px;
  width: 225px;
  position: absolute;
  top: 61.25vh;
  left: calc(50vw - 112px);
}
