/* You can add global styles to this file, and also import other style files */

@import './styles/btn.scss';
@import './styles/card.scss';
@import './styles/form.scss';
@import './styles/utils.scss';

body {
  padding: 0;
  margin: 0;
  background-color: #EEEEEE;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-size: 1.25em;
}

* {
  outline: none;
}
