:host {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

h3 {
  margin-top: 0;
  text-align: center
}

.profile-card {
  min-width: 400px;
}

.error {
  font-size: .85rem;
  color: red;
}
