<div class="card profile-card relative">
  <div *ngIf="submitting" class="layer-transparent">
    <app-loader></app-loader>
  </div>
  <form (ngSubmit)="submit()" #userForm="ngForm">
    <h3>New User Form</h3>
    <div class="form-group">
      <span class="grow-3">Name: </span>
      <div class="form-control-wrapper grow-9">
        <input type="text" [(ngModel)]="newUser.name" name="name" class="form-control" placeholder="Enter"
          appAutoFocusCustom>
        <div class="form-control__border"></div>
      </div>
    </div>
    <div class="form-group">
      <span class="grow-3">Username: </span>
      <div class="form-control-wrapper grow-9">
        <input type="text" [(ngModel)]="newUser.username" name="username" class="form-control" placeholder="Enter"
          required #name="ngModel">
        <div class="form-control__border"></div>
      </div>
    </div>
    <div class="error" *ngIf="submitError">
      {{ submitError }}
    </div>
    <div class="btn-block">
      <div class="pull-left">
        <input type="file" accept=".csv" (change)="onFileLoad($event.target)">
      </div>
      <div class="pull-right">
        <button class="btn btn-default" type="button" (click)="goBack()">Cancel</button>
        <button class="btn btn-primary" type="submit" [disabled]="!userForm.form.valid || submitting">Save</button>
      </div>
    </div>
  </form>
</div>
